.btn-read {
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 160px;
}

.lbl-txt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
